<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Metabase Materializer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha256-sAcc18zvMnaJZrNT4v8J0T4HqzEUiUTlVFgDIywjQek=" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" referrerpolicy="no-referrer">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/es-module-shims@0.13.0/dist/es-module-shims.min.js" integrity="sha256-5rVRKN4NAIAE/IuWeJCe1PGYolGr1PkqeGif8ISCN8g=" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- TODO find a way to do importmap SRI, see https://stackoverflow.com/questions/45804660 -->
    <script type="importmap-shim">
      {
        "imports": {
          "preact": "https://cdn.jsdelivr.net/npm/preact@10.5.14/dist/preact.module.js",
          "preact/hooks": "https://cdn.jsdelivr.net/npm/preact@10.5.14/hooks/dist/hooks.module.js",
          "preact-router": "https://cdn.jsdelivr.net/npm/preact-router@3.2.1/dist/preact-router.es.js",
          "history": "https://cdn.jsdelivr.net/npm/history@5.0.1/history.production.min.js",
          "htm": "https://cdn.jsdelivr.net/npm/htm@3.1.0/dist/htm.module.js",
          "html": "./static/html.js"
        }
      }
    </script>

    <script type="module-shim">
      import { render } from 'preact';
      import html from 'html';
      import App from './static/app.js';

      const metabase_url = {{ metabase_url | tojson }};
      const web_path = {{ web_path | tojson }};

      render(html`<${App} metabaseUrl=${metabase_url} webPath=${web_path} />`, document.body);
    </script>
</head>
<body>
</body>
</html>
